<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head">
</head>
<body>
    <nav th:replace="/fragments/navbar"></nav>

    <div class="container-fluid m-5 contenedor">

        <form class="formulario" th:action="@{/autor/modificar/__${autor.idAutor}__}" method="POST">
            
            <input type="hidden" th:value="${idAutor}" name="idAutor">
            
            <div class="form-group my-3">
                
                <label class="mb-2">Modificar Autores</label> 
                
                <input th:value="${autor.nombre}" type="text" class="form-control" name="nombre">
            </div>

            <button type="submit" class="btn btn-primary mt-3 botones">Actualizar</button>
            
        </form>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito </h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error </h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <section class="text-center container">
            <div class="row mt-3">
                <div class="divVolver">
                    <a th:href="@{/inicio}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                </div>
            </div>
        </section>
    </div>



   
</body>
</html>